[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"mastodon.py" = "~=1.5.1"
"requests" = "~=2.27.1"
"ruamel.yaml" = "~=0.17.21"
tracery = "~=0.1.1"
beautifulsoup4 = "~=4.11.1"

[dev-packages]
