[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"mastodon.py" = "*"
"requests" = "*"
"ruamel.yaml" = "*"
tracery = "*"
beautifulsoup4 = "*"

[dev-packages]
